<div class="card card-custom gutter-b">
    <h1 class="db-text">Dashboard</h1>
    <div class="card-body">
        <h2>Bootstarp Implement</h2>
        <p class="text-primary">Primary Text</p>
        <p class="text-secondary">This is secondary text</p>
        <p class="text-success">Success message</p>
        <p class="text-danger">Error message</p>
        <p class="text-warning">Warning message</p>
        <p class="text-info">Informational message</p>
        <p class="text-dark">Dark text</p>
        <p class="text-muted">Muted text</p>
        <p class="text-black-50">50% opacity black text</p>
        <p class="text-light bg-dark">Light text on dark background</p>
        <p class="text-white bg-primary">White text on primary background</p>
    </div>
</div>